.quarto
_book

*.pdf

index.qmd
/01-introduction.md
/02-path-weight-sampling.md
/03-variants.md
/04-chemotaxis.md
/05-gaussian.md
/06-mlpws.md
/appendix.md
/summary.md
/publications.md
/acknowledgments.md
/about-the-author.md
/.quarto/
**/*.quarto_ipynb
