name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      CHECKSUM: 3d3a516e8d818e022b25ec514eaebb3737d6e36cd3c1e7c70e82a1b2d075862b
      FILENAME: _book/Quantifying-the-Flow-of-Information.pdf

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render website with Quarto
        run: quarto render

      - name: Download PDF thesis
        run: curl -L https://ir.amolf.nl/pub/11167/2025-PhD-Thesis-Manuel-Reinhardt.pdf -o $FILENAME

      - name: Verify checksum
        run: | 
            echo "$CHECKSUM  $FILENAME" | tee checksum.sha256
            sha256sum -c checksum.sha256
            rm checksum.sha256

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '_book'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
